.navbar-items {
    background-color: #fae9df !important;
    padding: 20px;
}

.nav-item {
    background-color: #f3e3d9 !important;
    padding: 10px;
}

.navbar-nav .nav-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-nav .nav-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}